body{
    height: 250vh;
    display: grid;
    /* grid-template-columns:1fr 3fr 1fr; */
    grid-template-rows: .1fr 2fr .1fr;
}
.header{
    background: #000;
    font-weight: 900;
    color: white;
    font-size: 40px;
    display: grid;
    grid-template-columns:0.8fr 3fr 0.8fr;
    
}
.header .h_mid{
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.main{
    display: grid;
    grid-template-columns:0.8fr 3fr 0.8fr;
    
    
}
.main .m_mid{
    
    padding: 40px 40px 10px 40px;
    
}
.main .m_mid .m_mid_top .top{
    display: flex;
    justify-content: space-between;
}

.main .m_mid .m_mid_top .top div{
    height: 33px;
    width: 100%;
    background: white;
    font-size: 16px;
    border: 1px solid #D7D7D7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .m_mid .m_mid_top .top .middle{
    margin-left: 14px;
    margin-right: 14px;
}
.main .m_mid .m_mid_top .top .middle:hover{
    border: 1px solid black;
    font-weight: 900;
}

.main .m_mid .m_mid_center{
    margin-top: 30px;
    margin-bottom: 30px;
    font: bold;
    font-weight: 900;
    font-size: 20px;
    border-bottom: 1px solid black;
}
.main .m_mid .m_mid_center div{
    margin: 20px 0 20px 0;
}
.main .m_mid .m_mid_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}
.main .m_mid .m_mid_footer .m_end{
    background: white;
    border: 1px solid #D5D5D5;
    margin-bottom: 30px;
}
.main .m_mid .m_mid_footer .f_header{
    background: #F7F9F6;
    border-bottom: 1px solid #D5D5D5;
    padding: 15px;
    font-weight: 900;
}
.main .m_mid .m_mid_footer .f_content{
    padding: 30px;
}
.main .m_mid .m_mid_footer .f_content .top_table{
    text-align: center;
}
.main .m_mid .m_mid_footer .f_content .top_table caption{
    text-align: left;
    font-weight: 800;
    margin-bottom: 15px;
}
.main .m_mid .m_mid_footer .f_content .top_table td{
    border: 1px solid #E9E9E9;
    vertical-align: middle;
    padding: 12px 25px;
}
.main .m_mid .m_mid_footer .f_content .top_table .bold_text{
    font-weight: 550;
}
.main .m_mid .m_mid_footer .f_content .top_table .bold_text_first{
    font-weight: 550;
    padding: 40px 30px;
}
.main .m_mid .m_mid_footer .f_content .top_table th{
    border: 1px solid #E9E9E9;
    background-color: #fbfbfb;
    font-weight: 550;
    vertical-align: middle;
    padding: 10px 0;
}

.main .m_mid .m_mid_footer .f_content .bottom_table caption{
    text-align: left;
    font-weight: 800;
    margin-bottom: 15px;
    margin-top: 50px;
}

.main .m_mid .m_mid_footer .f_content .bottom_table{
     text-align: center;
}

.main .m_mid .m_mid_footer .f_content .bottom_table th{
    border-top: 2px solid #A5A5A5;
    border-bottom: 1px solid #E5E5E5;
    padding: 10px 0;
    background-color: #FBFBFB;
}

.main .m_mid .m_mid_footer .f_content .bottom_table td{
    padding: 10px 0;   
}


.main .m_mid .m_mid_footer .f_content .bottom_table .name{
    text-align: center;
}
.main .m_mid .m_mid_footer .f_content .bottom_table .bottom_style{
    border-top: 1px solid #A5A5A5;
    font-weight: 900;
    border-bottom: 1px solid gray;
}
.footer{
    display: grid;
    grid-template-columns:1fr 3fr 1fr;
    border-top: 1px solid gray;
    align-content: center;
    justify-items: center;
}




html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

b, u, i, center,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td,

article, aside, canvas, details, embed, 

figure, figcaption, footer, header, hgroup, 

menu, nav, output, ruby, section, summary,

time, mark, audio, video {

    margin: 0;

    padding: 0;

    border: 0;

    font-size: 100%;

    font: inherit;

    vertical-align: baseline;

}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 

footer, header, hgroup, menu, nav, section {

    display: block;

}

body {

    line-height: 1;

}

ol, ul {

    list-style: none;

}

blockquote, q {

    quotes: none;

}

blockquote:before, blockquote:after,

q:before, q:after {

    content: '';

    content: none;

}

table {

    border-collapse: collapse;

    border-spacing: 0;

}