body{
    height: 250vh;
    display: grid;
    grid-template-rows: .2fr 2fr .2fr;
}
.header{
    background: #000;
    font-weight: 900;
    color: white;
    font-size: 40px;
    display: grid;
    grid-template-columns: 0.7fr 3fr 0.7fr;
    padding: 30px 0 30px 0;
    
}
.header .h_mid{
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.main{
    display: grid;
    grid-template-columns:0.8fr 3fr 0.8fr;
    
    
}
.main .m_mid{
    
    padding: 40px 40px 10px 40px;
    
}
.main .m_mid .m_mid_top .top{
    display: flex;
    justify-content: space-between;
}

.main .m_mid .m_mid_top .top div{
    height: 33px;
    width: 100%;
    background: white;
    font-size: 16px;
    border: 1px solid #D7D7D7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .m_mid .m_mid_top .top .middle{
    margin-left: 14px;
    margin-right: 14px;
}
.main .m_mid .m_mid_top .top .middle:hover{
    border: 1px solid black;
    font-weight: 900;
}

.main .m_mid .m_mid_center{
    margin-top: 30px;
    margin-bottom: 30px;
    font: bold;
    font-weight: 900;
    font-size: 20px;
    border-bottom: 1px solid black;
}
.main .m_mid .m_mid_center div{
    margin: 20px 0 20px 0;
}
.main .m_mid .m_mid_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}
.main .m_mid .m_mid_footer .m_end{
    background: white;
    border: 1px solid #D5D5D5;
    margin-bottom: 30px;
}
.main .m_mid .m_mid_footer .f_header{
    background: #F7F9F6;
    border-bottom: 1px solid #D5D5D5;
    padding: 15px;
    font-weight: 900;
}
.main .m_mid .m_mid_footer .f_content{
    padding: 30px;
}
.main .m_mid .m_mid_footer .f_content .top_table{
    text-align: center;
}
.main .m_mid .m_mid_footer .f_content .top_table caption{
    text-align: left;
    font-weight: 800;
    margin-bottom: 15px;
}
.main .m_mid .m_mid_footer .f_content .top_table td{
    border: 1px solid #E9E9E9;
    vertical-align: middle;
    padding: 12px 25px;
}
.main .m_mid .m_mid_footer .f_content .top_table .bold_text{
    font-weight: 550;
}
.main .m_mid .m_mid_footer .f_content .top_table .bold_text_first{
    font-weight: 550;
    padding: 40px 30px;
}
.main .m_mid .m_mid_footer .f_content .top_table th{
    border: 1px solid #E9E9E9;
    background-color: #fbfbfb;
    font-weight: 550;
    vertical-align: middle;
    padding: 10px 0;
}

.main .m_mid .m_mid_footer .f_content .bottom_table caption{
    text-align: left;
    font-weight: 800;
    margin-bottom: 15px;
    margin-top: 50px;
}

.main .m_mid .m_mid_footer .f_content .bottom_table{
     text-align: center;
}

.main .m_mid .m_mid_footer .f_content .bottom_table th{
    border-top: 2px solid #A5A5A5;
    border-bottom: 1px solid #E5E5E5;
    padding: 10px 0;
    background-color: #FBFBFB;
}

.main .m_mid .m_mid_footer .f_content .bottom_table td{
    padding: 10px 0;   
}


.main .m_mid .m_mid_footer .f_content .bottom_table .name{
    text-align: center;
}
.main .m_mid .m_mid_footer .f_content .bottom_table .bottom_style{
    border-top: 1px solid #A5A5A5;
    font-weight: 900;
    border-bottom: 1px solid gray;
}
.footer{
    display: grid;
    grid-template-columns:1fr 3fr 1fr;
    border-top: 1px solid gray;
    align-content: center;
    justify-items: center;
}
.m_end .f_content .form_content .form_content_caption{
    font-weight: 900;
    margin-bottom: 15px;
    font-size: 14px;
    text-align: left;
}

.m_end .f_content .form_content caption{
    font-weight: 900;
    margin-bottom: 15px;
    font-size: 14px;
    text-align: left;
    margin-top: 15px;
    
}
.m_end .f_content .form_content .box_size{
    width: 100%;
}
.m_end .f_content .form_content .box_size_3{
    display: flex;
    align-items: center;
}
.m_end .f_content .form_content .box_size_3 .basic_3{
    width: 100%;
    height: 35px;
    border: 1px solid #EFEFEF;
    padding: .2em .5em;
    margin-top: 5px;
}
.m_end .f_content .form_content .box_size_3 button{
    font-weight: 900;
    color: white;
    background-color: #4FC53D;
    width: 25%;
    height: 44px;
    border: 1px solid #EFEFEF;
    padding: .2em .5em;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 4px;
}
.m_end .f_content .form_content .box_size_1{
    width: 100%;   
}

.m_end .f_content .form_content .box_size_1 .box_siz_birth{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 1100px;
    height: 100%;
}
.m_end .f_content .form_content .box_size_1 select{
    width: 330px;
    padding: .5em .5em;
    border: 1px solid #999;
    font-size: 12px;
}
.m_end .f_content .form_content .box_size_1 select:nth-child(2){
    margin: 0 10px 0 10px;
}

.m_end .f_content .form_content .basic{
    width: 98%;
    height: 35px;
    border: 1px solid #EFEFEF;
    padding: .2em .5em;
    margin-top: 5px;
}


.m_end .f_content .form_content{
    background-color: #FBFBFB;
    width: 100%;
    height: 100%;
    
}
.m_end .f_content .form_content .form_content_main{
    padding: 25px;
}

.m_end .f_content .form_content .box_size_2{
    width: 1020px;
    display: flex;
    font-size: 15px;
    vertical-align: middle;
}
.m_end .f_content .form_content .box_size_4{
    width: 1020px;
    display: flex;
    font-size: 15px;
}
.m_end .f_content .form_content .box_size_4 p{
    margin-right: 80px;
}

.m_end .f_content .form_content .box_size_5 textarea{
    width: 1100px;
    height: 120px;
    border: 1px solid #EFEFEF;
    resize: none;
}

.m_end .f_content .form_content .box_size_2 p:nth-child(2){
    margin-left: 50px;
}
.m_end .f_content .form_content .box_size_6{
    width: 1100px;
    display: flex;
    justify-items: center;
}
.m_end .f_content .form_content .box_size_6 button{
    font-weight: 900;
    color: white;
    background-color: #4FC53D;
    width: 1100px;
    height: 45px;
    border: 1px solid #EFEFEF;
    padding: .2em .5em;
    margin-top: 20px;
}
.m_end .f_content .name_1{
    font-weight: 900;
    font-size: 15px;
    margin-bottom: 16px;
}
.m_end .f_content .f_content_1{
    width: 100%;
    height: 300px;
    border: 1px solid #EFEFEF;
}
.m_end .f_content .f_content_1 .title{
    width: 100%;
    height: 100px;
    font-size: 35px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
    
}
.m_end .f_content .f_content_1 .f_content_1_title{
    padding: 25px 25px 0 25px;
    width: 100%;
    height: 55px;
}
.m_end .f_content .f_content_1 .f_content_1_title .title_1{
    font-weight: 900;
    font-size: 15px;
    margin-right: 2px;
}
.m_end .f_content .f_content_1 .f_content_1_title .title_2{
    color: #559bfa;
    font-size: 13px;
}
.m_end .f_content .f_content_1 .f_content_1_title .title_content{
    margin-top: 10px;
    font-size: 12.5px;
    line-height: 21px;
    
}
.m_end .f_content .name_2{
    font-weight: 900;
    font-size: 15px;
    margin-bottom: 16px;
    margin-top: 52px;
}
.m_end .f_content .f_content_2{
    width: 240px;
    height: 270px;
    border: 1px solid #EFEFEF;
    padding: 20px;
}
.m_end .f_content .f_content_2 a{
    text-decoration: none;
    color: black;
}
.m_end .f_content .f_content_2 .num{
    display: block;
    float: left;
    min-width: 13px;
    height: 12px;
    margin-right: 9px;
    border: 1px solid #e0e0e0;
    color: #666;
    line-height: 12px;
    font-size: 11px;
    text-align: center;
    font-family: tahoma,sans-serif;
}
.m_end .f_content .f_content_2 li{
    margin-bottom: 12px;
}
.m_end .f_content .f_content_2 li span{
    font-size: 13px;
    color: #000;
}
.m_end .f_content .f_content_3{
    width: 1100px;
    height:190px;
    border: 1px solid #e0e0e0;
    padding: 20px 20px 20px 40px;
    line-height: 30px;
    
}
.m_end .f_content .f_content_3 li{
    font-size: 13px;
}
.m_end .f_content .f_content_3 li a{
    color: #559bfa;
}

.m_end .f_content .f_content_3 .f_c_3_1{
    font-weight: bold;
    color: #559bfa;
    font-size: 14px;
}
.m_end .f_content .f_content_3 .f_c_3_2{
    font-weight: bold;
    color: #000;
    font-size: 14px;
}
.m_end .f_content .f_content_3 .f_c_3_3{
    font-weight: bold;
    color: #ec5336;
    font-size: 13px;
}

.m_end .f_content .f_content_4{
    width: 1100px;
    height: 360px;
    border: 1px solid #e0e0e0;
    padding: 0 40px 0 20px;   
}

.m_end .f_content .f_content_4 .f_c_4_box .content_box{
    display: flex;
    padding: 20px 0;
}
.m_end .f_content .f_content_4 .f_c_4_box .content_box:nth-child(2){
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.m_end .f_content .f_content_4 .f_c_4_box .imgbox{
    margin-right: 10px;
}
.m_end .f_content .f_content_4 .f_c_4_box .textbox a{
    color: #00c;
    font-size: 16px;
    font-weight: bold;
}
.m_end .f_content .f_content_4 .f_c_4_box .textbox .txt_box_contnet{
    margin-top: 5px;
    line-height: 18px;
    font-size: 13px;
    
}

.m_end .f_content .f_content_5{
    width: 1160px;
    height: 440px;
    border: 1px solid #e0e0e0;
}
.m_end .f_content .f_content_5 .f_c_tb_1{
    
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.m_end .f_content .f_content_5 .f_c_tb_1 .toon_box{
    margin: 20px 20px 0 20px;
}
.m_end .f_content .f_content_5 .f_c_tb_1 .toon_box:nth-child(2){
    margin: 20px 0 0 0;
}
.m_end .f_content .f_content_5 .f_c_tb_1 .toon_box .content_box{
    margin-top: 7px;
    line-height: 20px;
}
.m_end .f_content .f_content_5 .f_c_tb_1 .toon_box .content_box .smart_toon{
    border: 1px solid red;
    background: #EF533C;
    font-size: 10px;
    font-weight: bold;
    color: white;
    padding: 0 3px;
    width: 48px;
    height: 15px;
}
.m_end .f_content .f_content_5 .f_c_tb_1 .toon_box .content_box .cut_toon{
    border: 1px solid green;
    background: #7BC93F;
    font-size: 10px;
    font-weight: bold;
    color: white;
    padding: 1px 5px;
    width: 48px;
    height: 15px;
    text-align: center;
}
.m_end .f_content .f_content_5 .f_c_tb_1 .toon_box .content_box .title{
    font-weight: bold;
    font-size: 14px;
    color: #000;
}
.m_end .f_content .f_content_5 .f_c_tb_1 .toon_box .content_box .content{
    font-size: 13px;
    color: #000;
}
.footer .f_first{
    margin-top: 30px;
}
.footer .f_first .f_mid{
    margin-bottom: 12px;
    font-size: 13px;
    color: gray;
}
.footer .f_first .f_end{
    font-size: 13px;
    margin-bottom: 45px;
}

.footer {
    display: flex;
    justify-content: center;
    text-align: center;
}

html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

b, u, i, center,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td,

article, aside, canvas, details, embed, 

figure, figcaption, footer, header, hgroup, 

menu, nav, output, ruby, section, summary,

time, mark, audio, video {

    margin: 0;

    padding: 0;

    border: 0;

    font-size: 100%;

    font: inherit;

    vertical-align: baseline;

}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 

footer, header, hgroup, menu, nav, section {

    display: block;

}

body {

    line-height: 1;

}

ol, ul {

    list-style: none;

}

blockquote, q {

    quotes: none;

}

blockquote:before, blockquote:after,

q:before, q:after {

    content: '';

    content: none;

}

table {

    border-collapse: collapse;

    border-spacing: 0;

}